.cover__link {
  background-size: cover;
  height: 740px;
  width: 100%;
  z-index: 1;
  text-decoration: none;
  position: relative;
  margin: auto;
  }

  @media screen and (max-width: 1024px) {
    .cover__link {
      width: 100%;
      max-height: 640px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover__link {
     width: 100%;
     max-height: 480px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__link {
      width: 100%;
      max-height: 200px;
    }
  }
  


/*.cover__link::after {
  /*background-color: #2A2C2f;*/
  /*content: '';
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}*/







  