.cover__link {
  background-image: url(../../../images/__background.jpg);
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
  background-size: cover;
  background-position: center;
  align-items: center;
  }

  .cover__link::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #2A2C2f;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  .cover__link:hover::before {
    opacity: 0.8;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__link {
      width: 100%;
      min-height: 640px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__link {
     width: 100%;
     min-height: 480px;
    }
  }

  @media screen and (min-width: 450px) and (max-width: 767px) {
    .cover__link {
      width: 100%;
      min-height: 340px;  
  }
}


  @media screen and (min-width: 320px) and (max-width: 449px) {
    .cover__link {
      width: 100%;
      min-height: 200px;
    }
  }
  
  









  