@import url(../languages/__link/languages__link.css);
@import url(../languages/__link/_active/languages__link_active.css);


.languages {
  /*height: 28px;*/
  margin-right: 0;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  
}