@import url(../languages/__link/languages__link.css);
@import url(../languages/__link/_active/languages__link_active.css);


.languages {
  margin-right: 0;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: right; 
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .languages {
    font-size: 18px;
    line-height: 20px;
  }
}


