.places {
  width: calc(100% - 296px);
  /*margin: 0 148px 92px;*/
  margin: 0 auto 92px;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    width: calc(100% - 96px);
    margin: 0 auto 97px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places { 
    width: calc(100% - 48px);
    margin: 0 auto 89px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    width: 100%;
    margin: 0 auto 65px;
  }
}