@import url(../lead/__title/lead__title.css);
@import url(../lead/__subtitle/lead__subtitle.css);
@import url(../lead/__image/lead__image.css);
@import url(../lead/__caption/lead__caption.css);

.lead {
  max-width: 1280px;
  /*height: 1005px;*/
  margin: 58px 148px 92px;
  color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .lead {
    margin: 50px 48px 92px 48px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .lead {
    margin: 50px 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    margin: 50px 0 64px;
  }
}