@import url(../header/__logo/header__logo.css);

.header {
  max-width: 1280px;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 34px 148px 0 148px;
  align-items: flex-end;
 
  
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 34px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 34px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 34px 16px 0 16px;
    
  }
}


