@import url(/blocks/header/__logo/header__logo.css);


.header {
  max-width: 984px;
  min-height: 44px;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  color: white;
  /*rafael added these*/
  
  align-items: flex-start;
  margin: 34px 148px 0 148px;
  
}