.place__info-column {
  margin-left: 0;
  /*margin-top: 30px;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 484px;

}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .place__info-column {
      max-width: 456px;
  
      
    }
  }
    
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .place__info-column { 
      max-width: 352px;  
      
    }
  }
    
  @media screen and (max-width: 767px) and (min-width: 320px) {
    .place__info-column {
        max-width: 288px; 
        margin-left: 16px;
    }
  }