.place__picture-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 40px;
  max-width: 460px;
}


@media screen and (max-width: 1024px) {
  .place__picture-column {
    max-width: 440px;
    margin-right: 32px;
  }
}
  
@media screen and (max-width: 768px) {
  .place__picture-column { 
    max-width: 340px;
    margin-right: 28px;
  }
}
  
@media screen and (max-width: 320px) {
  .place__picture-column {
    max-width: 320px;
    margin-right: 28px;
  }
}