.place__paragraph {
  width: 484px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin-top: 0;
  margin-bottom: 27px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .place__image {
    height: 440px;
   
  }
}
    
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .place__image { 
    height: 340px;
    font-size: 16px;
    
  }
}
    
@media screen and (max-width: 767px) {
  .place__image {
    height: 320px;
    margin-top: 32px;
    font-size: 16px;
  }
}