@import url(../intro/__list/intro__list.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);
@import url(../intro/__subtitle/intro__subtitle.css);
@import url(../intro/__span/intro__span.css);

.intro {
  width: calc(100% - 590px);
  color: white;
  margin: 0 148px 92px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column; 
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    margin-left: 48px;
    width: calc(100% - 334px);   
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin: 0 24px 88px;
    width: calc(100% - 48px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    margin: 0 16px 64px;
    width: calc(100% - 32px);
  }
}

