@import url(../intro/__list/intro__list.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/_body/intro__text_body.css);

.intro {
  width: 690px;
  height: 569px;
  color: white;
  margin-top: 0;
  margin-left: 148px;
  margin-bottom: 92px;
  margin-right: 442px;
  font-family: 'Inter', sans-serif;
  
}