@import url(../intro/__list/intro__list.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);

.intro {
 position: absolute;
 width: 690px;
 height: 569px;
 left: 148px;
 top: 1233px;
 color: white;
}