@import url(../cover/__link/cover__link.css);
@import url(../../images/__background.jpg);
@import url(../cover/__subtitle/cover__subtitle.css);
@import url(../cover/__title/cover__title.css);


.cover {
  border: 1px solid white;
  height: 740px; 
  display: flex;
  
}