@import url(../cover/__link/cover__link.css);
@import url(../../images/__background.jpg);
@import url(../cover/__subtitle/cover__subtitle.css);
@import url(../cover/__title/cover__title.css);
@import url(../cover/__text/cover__text.css);

.cover {
  width: calc(100% - 96px);
  /*max-width: 1280px;*/
  display: flex;
  flex-direction: column;
  margin: 0 auto 92px;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    margin: 0 auto 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    width: 100%;
    margin: 0 auto 64px;
  }
}






