
@import url(../cover/__overlay/cover__overlay.css);
@import url(../cover/__subtitle/cover__subtitle.css);
@import url(../cover/__title/cover__title.css);
@import url(../cover/__background/cover__background.css);
@import url(../../images/__background.jpg);


.cover {
  border: 1px solid white;
  width: 1184px;
  height: 740px; 
  display: flex;
  color: white;
}