.lead__caption {
  width: 182px;
  height: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
 
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 8px 950px 0 148px;
  
}