@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__link/place__link.css);
@import url(./__website/place__website.css);
@import url(./__info-column/place__info-column.css);
@import url(./__website/place__website-url.css);
@import url(./__picture-column/place__picture-column.css);
/*@import url(./__website/place__website-link.css);*/




.place {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-bottom: 80px;
    
}


@media screen and (max-width: 1024px) {
  .place {
    margin-bottom: 80px;
  }

  .place:nth-child(5) {
    margin-bottom: 0px;
  }  
  
}

@media screen and (max-width: 768px) {
  .place { 
    margin-bottom: 73px;
  }
  .place:nth-child(5) {
    margin-bottom: 0px;
  } 
}

@media screen and (max-width: 320px) {
  .place {
    margin-bottom: 48px;
  }
  .place:nth-child(5) {
    margin-bottom: 0px;
  } 
}