@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__link/place__link.css);
@import url(./__website/place__website.css);
@import url(./__info-column/place__info-column.css);
@import url(./__website/_link/place__website_link.css);
@import url(./__website/_url-heading/place__website_url-heading.css);

.place {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: Inter;
  font-style: normal;
    
}