.page__wrapper {
    border: 1px solid red;
    max-width: 1184px;
    margin: auto;
    /*this below to say that we don't want it to be smaller than 320 but taking into account the 16px on each side margin for small smart phone*/
    min-width: calc(320px - 32px);
    width: calc(100%-96px);
}
/*this is the rule for breakpoint, everything above 768 will maintain everything that's stated above*/
@media screen and (max-width: 768px) {
  .page__wrapper {
      width: calc(100% - 48px);
}


